#title{
	text-align: center;
}

/* 現在表示中の年月div内の要素 */
.month {
	width: 260px;
	height: 50px;
	margin: 0 auto;
}
.lastmonth {
	width: 100px;
	height: 50px;
	float: left;
	text-align: center;
}
.currentmonth {
	width: 60px;
	height: 50px;
	float: left;
	text-align: center;
}
.nextmonth {
	width: 100px;
	height: 50px;
	float: left;
	text-align: center;
}
.month input[type="submit"] {
	position: relative;
	top: 8px;
	font-size: larger;
	
	border: none;
	background-color: transparent;
	cursor: pointer;
}

/* ニコニコカレンダーtable内の要素 */
#niconicoCalendar{
	border-collapse: collapse;
	margin: 0 auto;
}
.userName{
	width: 100px;
	height: 30px;
	border: 1px solid;
	text-align: center;
}
.historyCalendar{
	width: 30px;
	height: 30px;
	border: 1px solid;
	text-align: center;
}