<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>ニコニコカレンダー</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../css/confirmStyle.css" />
<script th:src="@{../js/jquery/jquery.js}"></script>
<script type="text/javascript">
	function editUser() {
		var str = document.getElementById("editName").value;
		if(str == ""){
			var elements = document.getElementsByClassName("failMessage");
			elements[0].style.color = "#ff0000";
		}else{
			var userId = document.getElementById("getUserId").value;
			var year = document.getElementById("getYear").value;
			var month = document.getElementById("getMonth").value;
			var renameForm = document.createElement("form");
			renameForm.action = "/rename/user";
			renameForm.method = "post";
			var renameInput1 = document.createElement("input");
			renameInput1.setAttribute("type", "hidden");
			renameInput1.setAttribute("name", "userId");
			renameInput1.setAttribute("value", userId);
			renameForm.appendChild(renameInput1);
			var renameInput2 = document.createElement("input");
			renameInput2.setAttribute("type", "hidden");
			renameInput2.setAttribute("name", "name");
			renameInput2.setAttribute("value", str);
			renameForm.appendChild(renameInput2);
			var renameInput3 = document.createElement("input");
			renameInput3.setAttribute("type", "hidden");
			renameInput3.setAttribute("name", "year");
			renameInput3.setAttribute("value", year);
			renameForm.appendChild(renameInput3);
			var renameInput4 = document.createElement("input");
			renameInput4.setAttribute("type", "hidden");
			renameInput4.setAttribute("name", "month");
			renameInput4.setAttribute("value", month);
			renameForm.appendChild(renameInput4);
			renameForm.submit();
		}
	}

	function deleteUser() {
		if(confirm("ユーザーを削除します。本当に宜しいですか？")){
			var userId = document.getElementById("getUserId").value;
			var year = document.getElementById("getYear").value;
			var month = document.getElementById("getMonth").value;
			var deleteForm = document.createElement("form");
			deleteForm.action = "/delete/user";
			deleteForm.method = "post";
			var deleteInput1 = document.createElement("input");
			deleteInput1.setAttribute("type", "hidden");
			deleteInput1.setAttribute("name", "userId");
			deleteInput1.setAttribute("value", userId);
			deleteForm.appendChild(deleteInput1);
			var deleteInput2 = document.createElement("input");
			deleteInput2.setAttribute("type", "hidden");
			deleteInput2.setAttribute("name", "year");
			deleteInput2.setAttribute("value", year);
			deleteForm.appendChild(deleteInput2);
			var deleteInput3 = document.createElement("input");
			deleteInput3.setAttribute("type", "hidden");
			deleteInput3.setAttribute("name", "month");
			deleteInput3.setAttribute("value", month);
			deleteForm.appendChild(deleteInput3);
			deleteForm.submit();
		}
		else{
			alert("キャンセルされました。");
		}
	}
</script>
</head>

<body>
	<div id="title">
		<h1>ニコニコカレンダー</h1>
	</div>

	<div class="windowDiv">
		<h2>ユーザー名を変更する</h2>
		<p class="failMessage">ユーザー名が入力されていません。</p>
		<input id="editName" type="text" th:value="${userName}" maxlength="10" />
		<input class="button" id="editConfirm" type="submit" value="OK" onClick="editUser()" />
		<input class="button" id="editCancel" type="button" value="キャンセル" onClick="history.back()" />
		<input class="button" id="deleteUser" type="submit" value="ユーザーを削除" onClick="deleteUser()" />
	</div>

	<div class="month">
		<div class="lastmonth">
			<input type="submit" th:value="＜" />
		</div>
		<div class="currentmonth" th:text="${dispYear}+年+' '+${dispMonth}+月"></div>
		<div class="nextmonth">
			<input type="submit" th:value="＞" />
		</div>
	</div>

	<table id="niconicoCalendar">
		<tr>
			<td>
				<div class="configDiv">
					<img class="registImg" th:src="@{/img/regist.png}" alt="追加" />
				</div>
			</td>
			<th class="userName">ユーザー名</th>
			<th class="historyCalendar" th:each="i : ${#numbers.sequence(1,lastDay)}" th:value="${i}" th:text="${i}" />
		</tr>

		<tr th:each="user:${users}">
			<td>
				<div class="configDiv">
					<img class="configImg" th:src="@{/img/config.png}" />
				</div>
			</td>
			<td class="userName" th:text="${user.userName}" />
	 			<td class="feelingsHistoryCalendar" th:each="i : ${#numbers.sequence(1,lastDay)}" th:value="${i}">
		 				<th:block th:each="feelingsHistory:${feelingsHistory}" th:if="${feelingsHistory.userId == user.userId and feelingsHistory.day == i}">
		 						<th:block th:each="feelingsList:${feelingsList}" th:if="${feelingsList.feelingsNum == feelingsHistory.feelingsNum}">
		  							<img class="feelingsImg" th:src="@{/img/{feelingsName}.png(feelingsName=${feelingsList.feelings})}" alt="" />
		 						</th:block>
		 				</th:block>
				</td>
		</tr>
	</table>

	<!-- 各種情報を受け取り -->
	<input type="hidden" id="getUserId" th:value="${userId}" />
	<input type="hidden" id="getYear" th:value="${dispYear}" />
	<input type="hidden" id="getMonth" th:value="${dispMonth}" />

</body>
</html>