<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>ニコニコカレンダー</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../css/style.css" />
<script th:src="@{../js/jquery/jquery.js}"></script>
<script type="text/javascript"></script>
</head>

<body>
	<div id="title">
		<h1>ニコニコカレンダー</h1>
	</div>

	<div class="month">
		<div class="lastmonth">
			<form>
				<input type="hidden" name="previous" th:value="${dispYear}+'/'+(${dispMonth}-1)" />
				<input type="submit" th:value="＜" />
			</form>
		</div>
		<div class="currentmonth" th:text="${dispYear}+年+' '+${dispMonth}+月"></div>
		<div class="nextmonth">
			<form>
				<input type="hidden" name="next" th:value="${dispYear}+'/'+(${dispMonth}+1)" />
				<input type="submit" th:value="＞" />
			</form>
		</div>
	</div>
	
	<form method="post" action="/regist">
		<p>ユーザー名：
			<input type="text" name="name" />
			<input type="submit" value="ユーザ追加" />
		</p>
	</form>

	<p>
		<select>
			<option></option>
		</select>
		<input type="radio" value="0" />
		<input type="radio" value="1" />
		<input type="radio" value="2" />
		<input type="radio" value="3" />
		<input type="radio" value="4" />
		<input type="submit" value="登録" />
	</p>

	<table id="niconicoCalendar">
		<tr>
			<th class="userName">ユーザー名</th>
			<th class="historyCalendar" th:each="i : ${#numbers.sequence(1,lastDay)}" th:value="${i}" th:text="${i}" />
		</tr>

		<tr th:each="user:${user}">
			<td class="userName" th:text="${user.username}" />
 			<td class="historyCalendar" th:each="i : ${#numbers.sequence(1,lastDay)}" th:value="${i}">
 				<th:block th:each="feelingHistory:${feelingHistory}" th:if="${feelingHistory.userId == user.userId}">
 					<th:block th:if="${feelingHistory.day == i}">
 						<div th:text="${feelingHistory.feelingId}"></div>
  					</th:block>
 				</th:block>
			</td>
		</tr>
	</table>

	 <form method="post" action="/delete">
		<p>
			<select name="userId">
				<option th:each="user:${user}" th:value="${user.userId}" th:text="${user.username}">
				</option>
			</select>
			<input type="submit" value="削除" />
		</p>
	</form>
	
</body>
</html>