<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>ニコニコカレンダー</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../css/style.css" />
<script th:src="@{../js/jquery/jquery.js}"></script>
<script type="text/javascript">
$(document).ready(function(){
	var checkRed = document.getElementById("getRedirection").value;
	if(checkRed){
		location.href="/"
	}
});

	function selectFeeling(userId, year, month, day) {
		var selectForm = document.createElement("form");
		selectForm.action = "/select";
		selectForm.method = "post";
		var selectInput1 = document.createElement("input");
		selectInput1.setAttribute("type", "hidden");
		selectInput1.setAttribute("name", "userId");
		selectInput1.setAttribute("value", userId);
		selectForm.appendChild(selectInput1);
		var selectInput2 = document.createElement("input");
		selectInput2.setAttribute("type", "hidden");
		selectInput2.setAttribute("name", "year");
		selectInput2.setAttribute("value", year);
		selectForm.appendChild(selectInput2);
		var selectInput3 = document.createElement("input");
		selectInput3.setAttribute("type", "hidden");
		selectInput3.setAttribute("name", "month");
		selectInput3.setAttribute("value", month);
		selectForm.appendChild(selectInput3);
		var selectInput4 = document.createElement("input");
		selectInput4.setAttribute("type", "hidden");
		selectInput4.setAttribute("name", "day");
		selectInput4.setAttribute("value", day);
		selectForm.appendChild(selectInput4);
		selectForm.submit();
	}

	function registerUser(year, month) {
		var userId = -1;
		var registerForm = document.createElement("form");
		registerForm.action = "/edit/user";
		registerForm.method = "post";
		var registerInput1 = document.createElement("input");
		registerInput1.setAttribute("type", "hidden");
		registerInput1.setAttribute("name", "userId");
		registerInput1.setAttribute("value", userId);
		registerForm.appendChild(registerInput1);
		var registerInput2 = document.createElement("input");
		registerInput2.setAttribute("type", "hidden");
		registerInput2.setAttribute("name", "year");
		registerInput2.setAttribute("value", year);
		registerForm.appendChild(registerInput2);
		var registerInput3 = document.createElement("input");
		registerInput3.setAttribute("type", "hidden");
		registerInput3.setAttribute("name", "month");
		registerInput3.setAttribute("value", month);
		registerForm.appendChild(registerInput3);
		registerForm.submit();
	}

	function editUser(userId, year, month) {
		var editForm = document.createElement("form");
		editForm.action = "/edit/user";
		editForm.method = "post";
		var editInput1 = document.createElement("input");
		editInput1.setAttribute("type", "hidden");
		editInput1.setAttribute("name", "userId");
		editInput1.setAttribute("value", userId);
		editForm.appendChild(editInput1);
		var editInput2 = document.createElement("input");
		editInput2.setAttribute("type", "hidden");
		editInput2.setAttribute("name", "year");
		editInput2.setAttribute("value", year);
		editForm.appendChild(editInput2);
		var editInput3 = document.createElement("input");
		editInput3.setAttribute("type", "hidden");
		editInput3.setAttribute("name", "month");
		editInput3.setAttribute("value", month);
		editForm.appendChild(editInput3);
		editForm.submit();
	}
</script>
</head>

<body>
	<div id="title">
		<h1>ニコニコカレンダー</h1>
	</div>

	<div class="month">
		<div class="lastmonth">
			<form method="get" action="/previous">
				<input type="hidden" name="previous" th:value="${dispYear}+'/'+(${dispMonth}-1)" />
				<input type="submit" th:value="＜" />
			</form>
		</div>
		<div class="currentmonth" th:text="${dispYear}+年+' '+${dispMonth}+月"></div>
		<div class="nextmonth">
			<form method="get" action="/next">
				<input type="hidden" name="next" th:value="${dispYear}+'/'+(${dispMonth}+1)" />
				<input type="submit" th:value="＞" />
			</form>
		</div>
	</div>

	<table id="niconicoCalendar">
		<tr>
			<td>
				<div class="configDiv" th:onClick="'registerUser('+${dispYear}+','+${dispMonth}+')'">
					<img class="registImg" th:src="@{/img/regist.png}" alt="追加" />
				</div>
			</td>
			<th class="userName">ユーザー名</th>
			<th class="historyCalendar" th:each="i : ${#numbers.sequence(1,lastDay)}" th:value="${i}" th:text="${i}" />
		</tr>

		<tr th:each="user:${user}">
			<td>
				<div class="configDiv" th:onClick="'editUser('+${user.userId}+','+${dispYear}+','+${dispMonth}+')'">
					<img class="configImg" th:src="@{/img/config.png}" />
				</div>
			</td>
			<td class="userName" th:text="${user.username}" />
	 		<td class="feelingHistoryCalendar" th:each="i : ${#numbers.sequence(1,lastDay)}" th:value="${i}" style="cursor: pointer" th:onClick="'selectFeeling('+${user.userId}+','+${dispYear}+','+${dispMonth}+','+${i}+')'">
		 			<th:block th:each="feelingHistory:${feelingHistory}" th:if="${feelingHistory.userId == user.userId and feelingHistory.day == i}">
		 					<th:block th:each="feelings:${feelings}" th:if="${feelings.feelingId == feelingHistory.feelingId}">
		  						<img class="feelingImg" th:src="@{/img/{feelingName}.png(feelingName=${feelings.feeling})}" alt="" />
		 					</th:block>
		 			</th:block>
			</td>
		</tr>
	</table>

	<!-- ユーザー二重登録防止用 -->
	<input type="hidden" id="getRedirection" th:value="${redirection}" />

</body>
</html>