<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>ユーザー登録</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../css/confirmStyle.css" />
<script th:src="@{../js/jquery/jquery.js}"></script>
</head>
<body>
	<div id="title">
		<h1>ニコニコカレンダー</h1>
	</div>

	<div class="windowDiv">
		<h2>ユーザー名を入力してください。</h2>
		<form method="post" action="/register/user" th:object="${user}">
			<p th:if="${#fields.hasErrors('userName')}" class="failMessage">ユーザー名が入力されていません。</p>
			<input id="inputName" type="text" name="userName" value="" maxlength="10" th:field="*{userName}" />
			<input type="hidden" name="year" th:value="${dispYear}" />
			<input type="hidden" name="month" th:value="${dispMonth}" />
			<input class="button" id="registerCancel" type="button" value="キャンセル" onClick="history.back()"/>
			<input class="button" id="registerUser" type="submit" value="登録" />
		</form>
	</div>
	
	<div class="month"></div>

	<table id="niconicoCalendar">
		<tr>
			<td>
				<div class="configDiv">
					<img class="registImg" th:src="@{/img/regist.png}" alt="追加" />
				</div>
			</td>
			<th class="userName">ユーザー名</th>
			<th class="historyCalendar" th:each="i : ${#numbers.sequence(1,lastDay)}" th:value="${i}" th:text="${i}" />
		</tr>

		<tr th:each="user:${users}">
			<td>
				<div class="configDiv">
					<img class="configImg" th:src="@{/img/config.png}" />
				</div>
			</td>
			<td class="userName" th:text="${user.userName}" />
	 			<td class="feelingsHistoryCalendar" th:each="i : ${#numbers.sequence(1,lastDay)}" th:value="${i}">
		 				<th:block th:each="feelingsHistory:${feelingsHistory}" th:if="${feelingsHistory.userId == user.userId and feelingsHistory.day == i}">
		 						<th:block th:each="feelingsList:${feelingsList}" th:if="${feelingsList.feelingsNum == feelingsHistory.feelingsNum}">
		  							<img class="feelingsImg" th:src="@{/img/{feelingsName}.png(feelingsName=${feelingsList.feelings})}" alt="" />
		 						</th:block>
		 				</th:block>
				</td>
		</tr>
	</table>

	<!-- 各種情報を受け取り -->
	<input type="hidden" id="getYear" th:value="${dispYear}" />
	<input type="hidden" id="getMonth" th:value="${dispMonth}" />

</body>
</html>