<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>ニコニコカレンダー</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../css/confirmStyle.css" />
<script th:src="@{../js/jquery/jquery.js}"></script>
<script type="text/javascript">
$(document).ready(function(){
	var selectedFeelingsId = document.getElementById("getSelectedFeelingsId").value;
	if(selectedFeelingsId == 0){
		$("#deleteFeelings").prop("disabled", true);
	}
});

	$(function() {
		$("input[name='feelingsNum']").change(function() {
			$("#selectFeelingsForm").submit();
		});
	});
</script>
</head>

<body>
	<div id="title">
		<h1>ニコニコカレンダー</h1>
	</div>

	<div class="windowDiv">
		<p id="selectedDate" th:text="${dispYear}+'/'+${dispMonth}+'/'+${param.day[0]}" />
		<h2>登録内容を選択してください。</h2>
		<form method="post" action="/register/feelings" th:object="${feelings}" id="selectFeelingsForm">
			<table class="list">
				<tr>
					<td class="check"><input type="radio" name="feelingsNum" value="1" id="radio1" th:field="*{feelingsNum}" />
					<label class="label" for="radio1">
						<img th:src="@{/img/niconico.png}" alt="niconico" />
					</label></td>
					<td class="check"><input type="radio" name="feelingsNum" value="2" id="radio2" th:field="*{feelingsNum}" />
					<label class="label" for="radio2">
						<img th:src="@{/img/iraira.png}" alt="iraira" />
					</label></td>
					<td class="check"><input type="radio" name="feelingsNum" value="3" id="radio3" th:field="*{feelingsNum}" />
					<label class="label" for="radio3">
						<img th:src="@{/img/futsu.png}" alt="futsu" />
					</label></td>
					<td class="check"><input type="radio" name="feelingsNum" value="4" id="radio4" th:field="*{feelingsNum}" />
					<label class="label" for="radio4">
						<img th:src="@{/img/shikushiku.png}" alt="shikushiku" />
					</label></td>
					<td class="check"><input type="radio" name="feelingsNum" value="5" id="radio5" th:field="*{feelingsNum}" />
					<label class="label" for="radio5">
						<img th:src="@{/img/utouto.png}" alt="utouto" />
					</label></td>
				</tr>
			</table>
			<input type="hidden" name="userId" th:value="*{userId}" />
			<input type="hidden" name="year" th:value="${dispYear}" />
			<input type="hidden" name="month" th:value="${dispMonth}" />
			<input type="hidden" name="day" th:value="*{day}" />
		</form>
		<input class="button" id="selectCancel" type="button" value="キャンセル" onClick="history.back()"/>
		<form method="post" action="delete/feelings">
			<input type="hidden" name="feelingsId" th:value="${selectedFeelingsId}" />
			<input type="hidden" name="year" th:value="${dispYear}" />
			<input type="hidden" name="month" th:value="${dispMonth}" />
			<input class="button" id="deleteFeelings" type="submit" value="登録内容を削除する" />
		</form>
	</div>
	
	<div class="month"></div>

	<table id="niconicoCalendar">
		<tr>
			<td>
				<div class="configDiv">
					<img class="registImg" th:src="@{/img/regist.png}" alt="追加" />
				</div>
			</td>
			<th class="userName">ユーザー名</th>
			<th class="historyCalendar" th:each="i : ${#numbers.sequence(1,lastDay)}" th:value="${i}" th:text="${i}" />
		</tr>

		<tr th:each="user:${users}">
			<td>
				<div class="configDiv">
					<img class="configImg" th:src="@{/img/config.png}" />
				</div>
			</td>
			<td class="userName" th:text="${user.userName}" />
	 			<td class="feelingsHistoryCalendar" th:each="i : ${#numbers.sequence(1,lastDay)}" th:value="${i}">
		 				<th:block th:each="feelingsHistory:${feelingsHistory}" th:if="${feelingsHistory.userId == user.userId and feelingsHistory.day == i}">
		 						<th:block th:each="feelingsList:${feelingsList}" th:if="${feelingsList.feelingsNum == feelingsHistory.feelingsNum}">
		  							<img class="feelingsImg" th:src="@{/img/{feelingsName}.png(feelingsName=${feelingsList.feelings})}" alt="" />
		 						</th:block>
		 				</th:block>
				</td>
		</tr>
	</table>
	
	<!-- 各種情報を受け取り -->
	<input type="hidden" id="getSelectedFeelingsId" th:value="${selectedFeelingsId}" />
	
</body>
</html>