<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>ニコニコカレンダー</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../css/style.css" />
<script th:src="@{../js/jquery/jquery.js}"></script>
<script type="text/javascript">
	$(function() {
		$("input[name='number']").change(function() {
			var userId = document.getElementById("getUserId").value;
			var year = document.getElementById("getYear").value;
			var month = document.getElementById("getMonth").value;
			var day = document.getElementById("getDay").value;
			selectedFeeling(userId, year, month, day);
		});
	});

	function selectedFeeling(userId, year, month, day) {
		var feelingId = $('[name=number]:checked').val();
		var selectForm = document.createElement("form");
		selectForm.action = "/feel";
		selectForm.method = "post";
		var selectInput1 = document.createElement("input");
		selectInput1.setAttribute("type", "hidden");
		selectInput1.setAttribute("name", "userId");
		selectInput1.setAttribute("value", userId);
		selectForm.appendChild(selectInput1);
		var selectInput2 = document.createElement("input");
		selectInput2.setAttribute("type", "hidden");
		selectInput2.setAttribute("name", "year");
		selectInput2.setAttribute("value", year);
		selectForm.appendChild(selectInput2);
		var selectInput3 = document.createElement("input");
		selectInput3.setAttribute("type", "hidden");
		selectInput3.setAttribute("name", "month");
		selectInput3.setAttribute("value", month);
		selectForm.appendChild(selectInput3);
		var selectInput4 = document.createElement("input");
		selectInput4.setAttribute("type", "hidden");
		selectInput4.setAttribute("name", "day");
		selectInput4.setAttribute("value", day);
		selectForm.appendChild(selectInput4);
		var selectInput5 = document.createElement("input");
		selectInput5.setAttribute("type", "hidden");
		selectInput5.setAttribute("name", "feelingId");
		selectInput5.setAttribute("value", feelingId);
		selectForm.appendChild(selectInput5);
		selectForm.submit();
	}
</script>
</head>

<body>
	<div id="title">
		<h1>ニコニコカレンダー</h1>
	</div>
	
	<div id="selectFeeling">
		<h2>登録内容を選択してください。</h2>
		<form id="selectForm" method="post" action="/feel">
			<table class="list">
				<tr>
					<td class="check"><input type="radio" name="number" value="0" id="radio1" />
					<label class="label" for="radio1">
						<img th:src="@{/img/niconico.png}" alt="niconico" />
					</label></td>
					<td class="check"><input type="radio" name="number" value="1" id="radio2" />
					<label class="label" for="radio2">
						<img th:src="@{/img/iraira.png}" alt="iraira" />
					</label></td>
					<td class="check"><input type="radio" name="number" value="2" id="radio3" />
					<label class="label" for="radio3">
						<img th:src="@{/img/futsu.png}" alt="futsu" />
					</label></td>
					<td class="check"><input type="radio" name="number" value="3" id="radio4" />
					<label class="label" for="radio4">
						<img th:src="@{/img/shikushiku.png}" alt="shikushiku" />
					</label></td>
					<td class="check"><input type="radio" name="number" value="4" id="radio5" />
					<label class="label" for="radio5">
						<img th:src="@{/img/utouto.png}" alt="utouto" />
					</label></td>
				</tr>
			</table>
			<input id="deleteFeeling" type="button" value="登録内容を削除する" />
		</form>
	</div>
	
	<div class="month">
		<div class="lastmonth">
			<input type="submit" th:value="＜" />
		</div>
		<div class="currentmonth" th:text="${dispYear}+年+' '+${dispMonth}+月"></div>
		<div class="nextmonth">
			<input type="submit" th:value="＞" />
		</div>
	</div>
	
	<table id="niconicoCalendar">
		<tr>
			<td>
				<div class="configDiv">
					<img class="registImg" th:src="@{/img/regist.png}" alt="追加" />
				</div>
			</td>
			<th class="userName">ユーザー名</th>
			<th class="historyCalendar" th:each="i : ${#numbers.sequence(1,lastDay)}" th:value="${i}" th:text="${i}" />
		</tr>

		<tr th:each="user:${user}">
			<td>
				<div class="configDiv">
					<img class="deleteImg" th:src="@{/img/delete.png}" />
				</div>
			</td>
			<td class="userName" th:text="${user.username}" />
	 			<td class="historyCalendar" th:each="i : ${#numbers.sequence(1,lastDay)}" th:value="${i}" style="cursor: pointer">
		 				<th:block th:each="feelingHistory:${feelingHistory}" th:if="${feelingHistory.userId == user.userId and feelingHistory.day == i}">
		 						<th:block th:each="feelings:${feelings}" th:if="${feelings.feelingId == feelingHistory.feelingId}">
		  							<img class="feelingImg" th:src="@{/img/{feelingName}.png(feelingName=${feelings.feeling})}" alt="" />
		 						</th:block>
		 				</th:block>
				</td>
		</tr>
	</table>

	<!-- 各種情報を受け取り -->
	<input type="hidden" id="getUserId" th:value="${userId}" />
	<input type="hidden" id="getYear" th:value="${year}" />
	<input type="hidden" id="getMonth" th:value="${month}" />
	<input type="hidden" id="getDay" th:value="${day}" />
	
</body>
</html>